@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Objetivo @ViewData["Message"]</p>
</div>

<div>
    <p>
        Em nossa aplicação você pode realizar a criação de Departamentos, editar, e excluir os mesmos. 
        Nossa aplicação CRUD de departamentos e vendedores é a ferramenta perfeita para gerenciar seus dados de negócios de maneira eficiente e eficaz. 
        Com nossa aplicação, você pode criar, ler, atualizar e excluir dados de departamentos e vendedores em tempo real.      
        
    </p>
</div>

<div class="row">
    <div class="col">
        <img src="~/Images/Foto1.jpg" class="w-50  mx-auto d-block">
    </div>
</div>

<br />
<br />
<div class="row">
    <p>
        Além disso, nossa aplicação oferece uma funcionalidade poderosa para exibir informações de vendas para cada setor e vendedor em uma determinada data. 
        Isso permite que você acompanhe e analise as vendas de maneira mais precisa e eficaz, ajudando a melhorar o desempenho do seu negócio.
    </p>
</div>

<div class="row">
    <div class="col">
        <img src="~/Images/Foto2.jpg" class="w-50  mx-auto d-block">
    </div>
</div>

<br />
<br />

<div class="row">
    <p>
        Com nossa aplicação, você pode personalizar suas visualizações de dados para se concentrar nos departamentos e vendedores que mais importam para o seu negócio. 
        A interface simples e intuitiva torna a navegação fácil e rápida, permitindo que você gerencie seus dados de negócios em um só lugar.
    </p>
</div>

<div class="row">
    <div class="col">
        <img src="~/Images/Foto3.jpg" class="w-50  mx-auto d-block">
    </div>
</div>