@model SalesWebMVC.Models.ViewsModels.SellerFormViewModel

<!--Isso eu garanto que a minha view tem a disposição um objeto Seller -->

@{
    ViewData["Title"] = "Create";
}
<!--Criando a nossa página de cadastro do Seller-->
<h1>@ViewData["Title"]</h1>

<h4 class="fw-bold">Seller</h4>
<br />

<div class="row">
    <!--A classe acima é para que o div ocupe a largura da tela. Já a classe abaixo é para ocupar 1/3 da tela, pois o BootStrap
        divide a tela em 12 partes.
    -->
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Seller.Name" class="control-label"></label>
                <input asp-for="Seller.Name" class="form-control" />
                <span asp-validation-for="Seller.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Seller.Email" class="control-label"></label>
                <input asp-for="Seller.Email" class="form-control" />
                <span asp-validation-for="Seller.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Seller.BirthDate" class="control-label"></label>
                <input asp-for="Seller.BirthDate" class="form-control" />
                <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Seller.BaseSalary" class="control-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
                <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>
            </div>

            <!--Montando a caixa de seleção abaixo-->


            <div class ="form-gropu">
                <label asp-for="Seller.Department_Id" class="control-label"></label>
                <select asp-for="Seller.Department_Id" asp-items="@(new SelectList(Model.Departments,"Id","Name"))" class="form-control"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-danger" />

            </div>

        </form>
    </div>
</div>

@section Scripts{
    @{
        //Realizando as validações dos campos de create no JavaScript
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



